<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>books</display-name>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>login.jsp</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyCartServlet</servlet-name>
    <servlet-class>com.servlet.ModifyCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCartServlet</servlet-name>
    <url-pattern>/ModifyCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.servlet.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ShowOrderServlet</servlet-name>
  	<servlet-class>com.servlet.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowOrderServlet</servlet-name>
  	<url-pattern>/ShowOrderServlet</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>